@inherits LayoutComponentBase

<PageTitle>EWEMOSBlazor</PageTitle>

<div class="page">
	<div class="sidebar">
		<NavMenu/>
	</div>

	<main>
		<div class="topbar">
			
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>